* {
  box-sizing: border-box;
}

html, body {
  cursor: default;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

#fold{
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}


#fold-1{
  /* font-family: AnytimeNow; */
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}

#fold-2{
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}

#fold-3{
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}

#fold-4{
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}

#fold-5{
  font-size: 1.1em;
  display: inline;
  line-height: 80%;
  letter-spacing: -3px;
  vertical-align: sub;
}

#fold_p {
  font-style: italic;
  margin: 0;

}

#fold_p:hover{
  cursor:pointer;
}

#fold_p-1 {
  font-style: italic;
  margin: 0;
}

#fold_p-1:hover{
  cursor:pointer;
}


#fold_p-2 {
  font-style: italic;
  margin: 0;
}

#fold_p-2:hover{
  cursor:pointer;
}

#fold_p-3 {
  font-style: italic;
  margin: 0;
}

#fold_p-3:hover{
  cursor:pointer;
}

#fold_p-4 {
  font-style: italic;
  margin: 0;
}

#fold_p-4:hover{
  cursor:pointer;
}

#fold_p-5 {
  font-style: italic;
  margin: 0;
}

#fold_p-5:hover{
  cursor:pointer;
}



#time-1{
  font-family: AnytimeNow;
  font-size: 1.5em;
  display: inline;
  line-height: 80%;
  letter-spacing: -20px;
  vertical-align: sub;

}

#italic-1 {
  font-style: italic;
  margin: 0;
  display: none;
}

#time-2{
  font-family: AnytimeNow;
  font-size: 1.5em;
  display: inline;
  line-height: 80%;
  letter-spacing: -20px;
  vertical-align: sub;

}



#italic-2 {
  font-style: italic;
  margin: 0;
  display: none;
}

@font-face { font-family: AnytimeNow; src: url('AnytimeNow.ttf'); }

.body-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.text {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3.5em;
  color: black;
  opacity: 0.1;
  transition: 0.1s;
  text-shadow: -0.004rem -0.01rem 0.01rem black, 0.004rem 0.1rem 0.1rem white;
}

.text {
  font-family: reason-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text:hover {
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1) !important;
}

/* .text-2{
  margin-top:20%;
  margin-bottom:6%;
} */

/* .text-3{
  margin-bottom:5%;
}

.text-4{
  margin-top:0;
} */

marquee {
  height: 100px;
}

.dot-1 {
  position: absolute;
  -webkit-animation: rotation 2s infinite linear;
  font-size: 6em;
  /* color: black; */
  opacity: 0.1;
  transition: 0.1s;
  text-shadow: -0.004rem -0.01rem 0.01rem black, 0.004rem 0.1rem 0.1rem white;
  color: rgb(99, 99, 99);
}

.dot-1:hover {
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1) !important;
}

.bottom{
  margin-bottom:1%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* cursor */
.dot {
  width: 1px;
  height: 1px;
  background-color: white;
  position: absolute;
  z-index: -1;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}
